body {
    background-color: #5FC3A1;
    background-image: url(../assets/img/Just-in-time.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12rem 0;
}

.countdown {
    height: 250px;
    width: 600px;
    background-color: orange;
    position: relative;
    top: 22rem;
}

@media screen and (min-width: 768px) {
    .rotate-infinite {
    animation: infinite-rotation 2s linear infinite;
    }
    }
    
    @keyframes infinite-rotation {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
    }
