/* html {
    background-color: #5FC3A1;
}

.container {
    background-color: #5FC3A1;
} */

body {
    background-color: #5FC3A1;
    background-image: url(../assets/img/Just-in-time.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 12rem 0;
}

.countdown {
    height: 360px;
    width: 600px;
    background-color: orange;
    position: relative;
    top: 22rem;
}
